# Target Dataverse environment URL
DATAVERSE_ENVIRONMENT_URL=https://<id>.crm6.dynamics.com

# Target Power Pages Website ID (optional, obtained via pac powerpages list)
# POWERPAGES_WEBSITE_ID=

# Power Pages Model Version (2 for Enhanced Data Model)
POWERPAGES_MODEL_VERSION=2

# Path to the site code folder
POWERPAGES_SITE_PATH=./src/orgfile-manager

# Target Dataverse Solution Name
DATAVERSE_SOLUTION_NAME=<solution-name>
